body {
    font-family: 'proxima_novaregular', 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    background: #3a3b3a url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proxima_novablack', 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
}

p {
    font-family: 'proxima_novablack', 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.5s;
}

a:hover,
a:focus {
    text-decoration: none;
    background-size: 100% 4px;
}

.no-wrap {
    white-space: nowrap;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 10px 0 10px 0;
}

.datetime h4 {
    margin-top: 32px;
    text-align: center;
}

.weather {
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
}

.lowTemp {
    font-size: 16px;
    color: #6699cc;
    font-weight: 500;
    padding: 10px;
}

.currentTemp {
    font-size: 22px;
    font-weight: 700;
}

.highTemp {
    font-size: 16px;
    color: #DB5248;
    font-weight: 500;
    padding: 10px;
}

#links {
    text-align: center;
    margin-top: 700px;
}

#links div {
    padding-top: 10px;
}

#links a {
    color: hsla(220, 6%, 70%, 1);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .weather {
        margin: 0 auto;
        width: 100%;
        display: block;
        text-align: center;
    }

    .weather img {
        width: 80px;
        height: 80px;
        margin-left: -16px;
    }

    #links {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .row {
        margin: 0;
    }
}
